Cython==0.29.10
easydict==1.9
fastai==1.0.53.post2
jupyter==1.0.0
Markdown==3.1.1
matplotlib==3.1.0
numpy==1.15.3
pandas==0.24.2
Pillow==6.0.0
PyYAML==5.1.1
scipy==1.3.0
tensorboard==1.14.0
tensorboardX==1.7
torch==1.0.1.post2
torchvision==0.2.2.post3